.product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  margin-bottom: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-container h4 {
  text-align: left;
  height: 80px;
  margin: 0px;
}
